@import "~react-datepicker/dist/react-datepicker.css";

:root {
    --background-hover: rgb(243, 243, 243);
}

.App {
    text-align: center;
    width: 100%;
    height: 100%;
}

.departure-station {
    color: #c40053;
}

.return-station {
    color: #003c85;
}

.secondary {
    color: rgb(88, 88, 88);
}

body {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif!important;
}

.list-item.station {
    padding: 15px;
}

.list-item {
    border-top: 1px solid silver;
}

.list-item:hover {
    background-color: var(--background-hover);
    cursor: pointer;
}

/* Currently selected station marker */
.pigeon-click-block.active {
    z-index:2;
}

.journey-line {
    width: 100%;
    height: 5px;
    background-image: linear-gradient(to right, #ff036c, #1d63b8);
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.journey-line.active {
    width: 100%;
    height: 5px;
}

button.btn, input {
    min-width: 150px;
    border-radius: 20px!important;
}

button.active, button:hover {
    filter: brightness(0.8);
}

#journey-info {
    width: max-content;
    padding: 20px;
    position: fixed;
    width: max-content;
    background-color: rgb(247, 247, 247);
    bottom: 30px;
    align-self: center;
    z-index: 2;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    border-radius: 35px;
    border: 1px solid rgba(211, 211, 211);
}

.selected-station-info {
    background-color: rgba(255, 255, 255, 0.822);
    border-radius: 10px;
    padding: 10px;
    display: none;
}

div.selected-station-info:hover {
    background-color: var(--background-hover);
}

#date-selector {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 35px;
    right: 0;
    text-align: left;
}

.date-selector-picker > * {
    margin: 5px;
}